node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
ios/.expo/
ios/Pods/
ios/build/
ios/lotwing-mobile.xcworkspace/
ios/lotwing-mobile/Supporting/EXBuildConstants.plist.bak
android/.gradle/
android/.idea/
android/local.properties
ios/lotwing-mobile/Supporting
ios/lotwing-mobile/Supporting/
